# Ignore terraform files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ignore log files
*.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore crash log files
crash.log

# Ignore backup and temporary files
*.bak
*.tmp
*.swp
*.swpx
*.swo
*.DS_Store

# Ignore Terraform provider binaries
.terraform/providers/

# Ignore local settings
local.tfvars
